In [1]:
import numpy as np 
import pandas as pd 
import pingouin as pg

In [2]:
## Settings
parent_dir = 'CircleTrack_Recall'
experiment_dir = 'Recall3'
ct_df = pd.read_csv('./ct_df.csv')
mouse_metrics = pd.read_csv('./mouse_metrics.csv')
scatterplot = pd.read_csv('./scatterplots.csv')

In [ ]:
## Lick accuracy two-way ANOVA
ct_df.mixed_anova(dv='lick_accuracy', within='day', between='group', subject='mouse')

,Source,SS,DF1,DF2,MS,F,p-unc,p-GG-corr,np2,eps,sphericity,W-spher,p-spher
0,group,5022.881907,1,21,5022.881907,5.712395,2.629859e-02,NaN,0.213848,NaN,NaN,NaN,NaN
1,day,60462.752450,6,126,10077.125408,69.479809,1.348462e-37,6.464433e-15,0.767904,0.34982,False,0.005915,1.116797e-12
2,Interaction,935.754922,6,126,155.959154,1.075308,3.808403e-01,NaN,0.048711,NaN,NaN,NaN,NaN

In [ ]:
## Lick accuracy multiple comparisons testing due to a main effect of group
ct_df.pairwise_tests(dv='lick_accuracy', within='day', between='group', subject='mouse', padjust='fdr_bh')

,Contrast,day,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,day,-,1,2,True,True,-3.443526,22.000000,two-sided,2.317336e-03,3.244271e-03,fdr_bh,17.058,-0.995972
1,day,-,1,3,True,True,-5.742263,22.000000,two-sided,8.919824e-06,1.440895e-05,fdr_bh,2419.144,-1.550500
2,day,-,1,4,True,True,-10.353369,22.000000,two-sided,6.393455e-10,3.356564e-09,fdr_bh,1.675e+07,-2.773315
3,day,-,1,5,True,True,-13.488630,22.000000,two-sided,4.078193e-12,2.854735e-11,fdr_bh,1.952e+09,-2.928151
4,day,-,1,6,True,True,-14.970786,22.000000,two-sided,5.108756e-13,1.072839e-11,fdr_bh,1.391e+10,-3.055832
5,day,-,1,7,True,True,-14.367403,22.000000,two-sided,1.165207e-12,1.223468e-11,fdr_bh,6.377e+09,-3.025741
6,day,-,2,3,True,True,-4.995333,22.000000,two-sided,5.328289e-05,7.992434e-05,fdr_bh,479.645,-0.692898
7,day,-,2,4,True,True,-9.848967,22.000000,two-sided,1.591144e-09,6.682804e-09,fdr_bh,7.126e+06,-2.001066
8,day,-,2,5,True,True,-8.050546,22.000000,two-sided,5.316346e-08,1.240481e-07,fdr_bh,2.7e+05,-2.271937
9,day,-,2,6,True,True,-8.370664,22.000000,two-sided,2.760714e-08,7.246874e-08,fdr_bh,4.965e+05,-2.399199
10,day,-,2,7,True,True,-8.522489,22.000000,two-sided,2.032862e-08,6.098587e-08,fdr_bh,6.601e+05,-2.364973
11,day,-,3,4,True,True,-8.856828,22.000000,two-sided,1.047237e-08,3.665328e-08,fdr_bh,1.225e+06,-1.246845
12,day,-,3,5,True,True,-6.679469,22.000000,two-sided,1.027156e-06,1.797523e-06,fdr_bh,1.748e+04,-1.620590
13,day,-,3,6,True,True,-6.803433,22.000000,two-sided,7.779372e-07,1.485153e-06,fdr_bh,2.258e+04,-1.738037
14,day,-,3,7,True,True,-6.815443,22.000000,two-sided,7.573506e-07,1.485153e-06,fdr_bh,2.314e+04,-1.701647
15,day,-,4,5,True,True,-2.758520,22.000000,two-sided,1.146373e-02,1.388219e-02,fdr_bh,4.378,-0.510406
16,day,-,4,6,True,True,-2.877890,22.000000,two-sided,8.737249e-03,1.146764e-02,fdr_bh,5.496,-0.620383
17,day,-,4,7,True,True,-2.742013,22.000000,two-sided,1.189902e-02,1.388219e-02,fdr_bh,4.244,-0.579957
18,day,-,5,6,True,True,-1.351066,22.000000,two-sided,1.904067e-01,2.104495e-01,fdr_bh,0.488,-0.098884
19,day,-,5,7,True,True,-0.721081,22.000000,two-sided,4.784528e-01,5.023755e-01,fdr_bh,0.277,-0.060011
20,day,-,6,7,True,True,0.564445,22.000000,two-sided,5.781616e-01,5.781616e-01,fdr_bh,0.253,0.039308
21,group,-,Middle Aged,Young Adult,False,True,-2.384829,20.600932,two-sided,2.678876e-02,NaN,NaN,2.561,-0.961608
22,day * group,1,Middle Aged,Young Adult,False,True,-0.692257,13.153502,two-sided,5.008145e-01,5.008145e-01,fdr_bh,0.451,-0.287593
23,day * group,2,Middle Aged,Young Adult,False,True,-3.745547,12.901770,two-sided,2.478636e-03,8.675227e-03,fdr_bh,26.39,-1.557565
24,day * group,3,Middle Aged,Young Adult,False,True,-3.949155,14.127824,two-sided,1.430577e-03,8.675227e-03,fdr_bh,38.929,-1.634703
25,day * group,4,Middle Aged,Young Adult,False,True,-2.744397,20.999356,two-sided,1.214990e-02,2.834977e-02,fdr_bh,4.476,-1.099333
26,day * group,5,Middle Aged,Young Adult,False,True,-1.127165,20.694406,two-sided,2.725733e-01,3.895117e-01,fdr_bh,0.597,-0.454127
27,day * group,6,Middle Aged,Young Adult,False,True,-0.902385,20.228042,two-sided,3.774729e-01,4.403850e-01,fdr_bh,0.508,-0.364798
28,day * group,7,Middle Aged,Young Adult,False,True,-1.113158,20.996598,two-sided,2.782226e-01,3.895117e-01,fdr_bh,0.591,-0.445757

In [11]:
## Hit rate 2-way ANOVA
mouse_metrics.mixed_anova(dv='hits', within='day', between='group', subject='mouse')

,Source,SS,DF1,DF2,MS,F,p-unc,p-GG-corr,np2,eps,sphericity,W-spher,p-spher
0,group,0.023850,1,21,0.023850,0.304674,5.867937e-01,NaN,0.014301,NaN,NaN,NaN,NaN
1,day,3.689719,6,126,0.614953,40.426828,3.935422e-27,5.854544e-16,0.658130,0.539123,False,0.049616,0.000011
2,Interaction,0.088296,6,126,0.014716,0.967420,4.501327e-01,NaN,0.044039,NaN,NaN,NaN,NaN

In [12]:
## Correct rejection rate 2-way ANOVA
mouse_metrics.mixed_anova(dv='CR', within='day', between='group', subject='mouse')

,Source,SS,DF1,DF2,MS,F,p-unc,np2,eps
0,group,0.428006,1,21,0.428006,6.553680,1.824156e-02,0.237851,NaN
1,day,3.832310,6,126,0.638718,23.626096,1.423784e-18,0.529423,0.442903
2,Interaction,0.274640,6,126,0.045773,1.693151,1.279150e-01,0.074611,NaN

In [13]:
## Correct rejection rate multiple comparisons
mouse_metrics.pairwise_tests(dv='CR', within='day', between='group', subject='mouse', padjust='fdr_bh')

,Contrast,day,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,day,-,1,2,True,True,2.297616,22.000000,two-sided,3.146688e-02,0.050831,fdr_bh,1.91,0.678298
1,day,-,1,3,True,True,0.961547,22.000000,two-sided,3.467273e-01,0.383225,fdr_bh,0.331,0.292242
2,day,-,1,4,True,True,-3.194031,22.000000,two-sided,4.190585e-03,0.007334,fdr_bh,10.251,-0.962616
3,day,-,1,5,True,True,-4.434437,22.000000,two-sided,2.087640e-04,0.000399,fdr_bh,141.249,-1.477705
4,day,-,1,6,True,True,-4.539424,22.000000,two-sided,1.615480e-04,0.000377,fdr_bh,177.505,-1.437934
5,day,-,1,7,True,True,-4.460965,22.000000,two-sided,1.956642e-04,0.000399,fdr_bh,149.638,-1.424171
6,day,-,2,3,True,True,-1.184756,22.000000,two-sided,2.487552e-01,0.290214,fdr_bh,0.407,-0.274875
7,day,-,2,4,True,True,-6.320895,22.000000,two-sided,2.319904e-06,0.000010,fdr_bh,8276.393,-1.632859
8,day,-,2,5,True,True,-7.659937,22.000000,two-sided,1.204819e-07,0.000002,fdr_bh,1.264e+05,-2.144153
9,day,-,2,6,True,True,-7.113265,22.000000,two-sided,3.918018e-07,0.000002,fdr_bh,4.248e+04,-2.057461
10,day,-,2,7,True,True,-7.203908,22.000000,two-sided,3.213326e-07,0.000002,fdr_bh,5.101e+04,-2.082849
11,day,-,3,4,True,True,-7.496304,22.000000,two-sided,1.707673e-07,0.000002,fdr_bh,9.152e+04,-1.120990
12,day,-,3,5,True,True,-5.965065,22.000000,two-sided,5.287164e-06,0.000019,fdr_bh,3896.53,-1.574769
13,day,-,3,6,True,True,-5.280890,22.000000,two-sided,2.675859e-05,0.000080,fdr_bh,892.865,-1.543423
14,day,-,3,7,True,True,-5.194811,22.000000,two-sided,3.291263e-05,0.000086,fdr_bh,740.539,-1.528035
15,day,-,4,5,True,True,-2.225832,22.000000,two-sided,3.658609e-02,0.054879,fdr_bh,1.693,-0.515438
16,day,-,4,6,True,True,-1.957776,22.000000,two-sided,6.305950e-02,0.088283,fdr_bh,1.102,-0.533329
17,day,-,4,7,True,True,-1.826012,22.000000,two-sided,8.145260e-02,0.106907,fdr_bh,0.905,-0.471681
18,day,-,5,6,True,True,-0.570253,22.000000,two-sided,5.742847e-01,0.602999,fdr_bh,0.253,-0.044392
19,day,-,5,7,True,True,0.447249,22.000000,two-sided,6.590675e-01,0.659067,fdr_bh,0.24,0.039303
20,day,-,6,7,True,True,1.309650,22.000000,two-sided,2.038266e-01,0.251786,fdr_bh,0.465,0.081465
21,group,-,Middle Aged,Young Adult,False,True,-2.583134,20.758734,two-sided,1.744120e-02,NaN,NaN,3.462,-1.029986
22,day * group,1,Middle Aged,Young Adult,False,True,0.035572,20.443034,two-sided,9.719689e-01,0.971969,fdr_bh,0.379,0.014360
23,day * group,2,Middle Aged,Young Adult,False,True,-2.448817,20.561368,two-sided,2.340199e-02,0.072116,fdr_bh,2.818,-0.974762
24,day * group,3,Middle Aged,Young Adult,False,True,-3.452841,16.316888,two-sided,3.195398e-03,0.022368,fdr_bh,15.297,-1.418237
25,day * group,4,Middle Aged,Young Adult,False,True,-2.321210,20.083644,two-sided,3.090695e-02,0.072116,fdr_bh,2.333,-0.921195
26,day * group,5,Middle Aged,Young Adult,False,True,-1.411148,20.973770,two-sided,1.728631e-01,0.302510,fdr_bh,0.767,-0.566316
27,day * group,6,Middle Aged,Young Adult,False,True,-0.455729,20.103042,two-sided,6.534691e-01,0.914857,fdr_bh,0.409,-0.184368
28,day * group,7,Middle Aged,Young Adult,False,True,-0.276538,17.665495,two-sided,7.853441e-01,0.916235,fdr_bh,0.39,-0.113044

In [17]:
## Linear regression for each group
## Young adult
ya = scatterplot[scatterplot['age_group'] == 'Young Adult']
liny = pg.linear_regression(X=ya['density'], y=ya['probe_accuracy'])
liny

,names,coef,se,T,pval,r2,adj_r2,CI[2.5%],CI[97.5%]
0,Intercept,88.329973,13.711535,6.442019,0.000200,0.208384,0.109432,56.711116,119.948829
1,density,-9166.817640,6316.824639,-1.451175,0.184787,0.208384,0.109432,-23733.441378,5399.806099

In [18]:
## Linear regression for each group
## Young adult
ma = scatterplot[scatterplot['age_group'] == 'Middle Aged']
linm = pg.linear_regression(X=ma['density'], y=ma['probe_accuracy'])
linm

,names,coef,se,T,pval,r2,adj_r2,CI[2.5%],CI[97.5%]
0,Intercept,110.275208,28.528804,3.865399,0.003133,0.226531,0.149184,46.709071,173.841345
1,density,-29856.019044,17445.767501,-1.711362,0.117799,0.226531,0.149184,-68727.611415,9015.573327

In [10]:
## For both combined
pg.linear_regression(X=scatterplot['density'], y=scatterplot['probe_accuracy'])

,names,coef,se,T,pval,r2,adj_r2,CI[2.5%],CI[97.5%]
0,Intercept,83.326209,10.647765,7.825700,1.635452e-07,0.13287,0.089513,61.115361,105.537057
1,density,-9823.705666,5611.632685,-1.750597,9.534101e-02,0.13287,0.089513,-21529.366326,1881.954995